<footer class="ba-footer">
  <p class="ba-footer-text">&copy; 2019 a_sleepy_sheepy</p>
  <p class="ba-footer-text">Ba is made with ❤️ and ☕️</p>
  <p class="ba-footer-text">
    Licensed under an <a class="ba-footer-text-link" href="https://sleepysheepy.net/#/license">MIT License</a>
  </p>
</footer>
