.ba-footer {
  align-items: center;
  background-color: $themeNearBlack;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  min-width: 100%;
  padding: 0.5rem 0;
}

.ba-footer-text {
  color: $themeMidGrey;
  font-size: 0.75rem;
  margin: 0.125rem;
  text-align: center;
}

.ba-footer-text-link {
  color: $themeMidGrey;
  text-decoration: underline;
}
