// Theme colors
$themeNearBlack: #1D1F21;
$themeDarkGrey: #292B2F;
$themeMidGrey: #73767C;
$themeWhite: #FFFFFF;
$themeBlurple: #7289DA;

$font: 'Raleway';

$mdBreakpoint: 600px;
$lgBreakpoint: 1000px;
