@import "variables";

html {
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  background-color: $themeDarkGrey;
  color: $themeWhite;
  display: flex;
  flex-direction: column;
  font-family: $font;
  height: 100%;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.container {
  display: 'flex';
  flex: 1;
  justify-content: center;
  margin: .5rem 1rem;
  max-width: 30rem;
  position: relative;
  width: 100%;
}

@import "navbar";
@import "footer";
